﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RentAMovie | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    
    @* Navbar here *@
    @Html.Partial("_NavBar")

    @* Renders Body Content *@
    @RenderBody()
       
    @* Footer Comes Here *@
    @*@Html.Partial("_Footer")*@

    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/NavbarNotifications.js"></script>
</body>
</html>
