﻿@using Microsoft.AspNet.Identity

@{
    var username = User.Identity.GetUserName() != null ? User.Identity.GetUserName() : null;
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "ml-auto" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link text-capitalize dropdown-toggle btn btn-outline-link" data-toggle="dropdown" title="Manage" id="user-dropdown">
                    <img src="~/Content/Images/user-image-2.jpg" alt="@username.Substring(0, username.IndexOf(@"@"))-profile-image" class="rounded-circle" width="30" height="30">
                    Hello, @username.Substring(0, username.IndexOf(@"@")) <span class="fas fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-item p-0 m-0">
                        <div class="user-display bg-light">
                            <div class="row">
                                <div class="col">
                                    <div class="d-flex flex-column content-flex">
                                        <div class="my-2">
                                            <img src="~/Content/Images/user-image-2.jpg" alt="user-image" class="rounded-circle" width="100" height="100">
                                        </div>
                                        <h4 class="display-5 text-capitalize">@username.Substring(0, username.IndexOf(@"@"))</h4>
                                        <h6 class="small">@username</h6>
                                        <div class="mb-2">
                                            <a href="@Url.Action("Index", "Manage")" class="btn btn-outline-success btn-block">
                                                <i class="fas fa-user-alt"></i> View Profile
                                            </a>
                                        </div>
                                        <!-- <div>
                                            <a href="#" class="btn btn-outline-danger btn-block">
                                                <i class="fas fa-sign-out-alt"></i> Log Out
                                            </a>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class="nav-link" })*@
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="notifications-toggler">
                    <i class="far fa-bell notification"></i><span class="badge badge-success badge-the-notifier"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-item">
                        <div class="notification-display" id="user-informer">
                            <div class="row">
                                <div class="col">
                                    <div class="dropdown-header"><span class="badge badge-success badge-the-notifier"></span> unread notifications</div>
                                    <div class="d-flex flex-column">
                                        <div class="d-flex border-bottom mb-2">
                                            <div class="align-content-start">
                                                <a href="@Url.Action("Index", "Notifications")">View All</a>
                                            </div>
                                            <div class="align-content-end ml-auto">
                                                <a href="#" class="mark-as-read">Mark All As Read</a>
                                            </div>
                                        </div>
                                        <div class="user-informer-card" style="a{ text-decoration: none;}">
                                            
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </li>
                    <!-- <a href="#" class="dropdown-item">Item Two</a>
                    <a href="#" class="dropdown-item">Item Three</a> -->
                </ul>
            </li>
            <li class="nav-item">
                <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">
                    <i class="fas fa-sign-out-alt"></i> Log Out
                </a>
            </li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="@Url.Action("Login", "Account")" class="nav-link" id="loginLink">
                <i class="fas fa-sign-in-alt"></i> Log In
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Register", "Account")" class="nav-link" id="registerLink">
                <i class="fas fa-user-plus"></i> Register
            </a>
        </li>
        @*<li class="nav-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>*@
        @*<li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>*@
    </ul>
}


@*

    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbar-drop">
            <i class="far fa-bell notification"></i><span class="badge badge-success">3</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-item">
                <div class="notification-display">
                    <div class="row">
                        <div class="col">
                            <div class="d-flex flex-column">
                                <div class="dropdown-header"><span class="badge badge-success">3</span> unread notifications</div>
                                <div class="d-flex">
                                    <div class="align-content-start">
                                        <a href="#">Link 1</a>
                                    </div>
                                    <div class="align-content-end ml-auto">
                                        <a href="#">Link 2</a>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="h6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, porro.</div>
                                <div class="dropdown-divider"></div>
                                <div class="h6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, porro.</div>
                                <div class="dropdown-divider"></div>
                                <div class="h6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, porro.</div>
                                <div class="dropdown-divider"></div>
                                <div class="h6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, porro.</div>
                                <div class="dropdown-divider"></div>
                                <div class="h6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, porro.</div>
                                <div class="dropdown-divider"></div>
                                <div class="h6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, porro.</div>
                                <div class="dropdown-divider"></div>
                                <div class="h6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, porro.</div>
                            </div>

                        </div>
                    </div>

                </div>
            </li>
            <!-- <a href="#" class="dropdown-item">Item Two</a>
            <a href="#" class="dropdown-item">Item Three</a> -->
        </ul>
    </li>



*@