﻿<nav class="navbar navbar-expand-sm navbar-dark bg-dark py-2">
    <div class="container">
        <a href="@Url.Action("Index", "Home")" class="navbar-brand">
            <i class="far fa-play-circle"></i> RentAMovie
        </a>
        @*@Html.ActionLink("RentAMovie", "Index", "Home", new { area=""}, new { @class="navbar-brand"})*@
        <!--Navbar toggle-->
        <button class="navbar-toggler" data-toggle="collapse" data-target="#spNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--Navbar-->
        <div class="collapse navbar-collapse" id="spNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    @Html.ActionLink("Customers", "Index", "Customers", new { area = "" }, new { @class = "nav-link" })

                </li>
                <li class="nav-item">
                    @Html.ActionLink("Movies", "Index", "Movies", new { area = "" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Rentals", "Create", "Rentals", new { area = "" }, new { @class = "nav-link" })
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>
