﻿.header-inner-spaced{
    padding-top: 100px;
}

.input-validation-error{
   border: solid red 2px;
}

label.error{
    color: red;
}

input.error{
    border: solid red 2px;
}

.navbar {
    border-bottom: solid 3px #ba4a00;
    z-index: 1043;
}
.notification-display {
    min-width: 270px;
    overflow-x: hidden;
    max-height: 350px;
    overflow-y: auto;
    padding-right: 10px;
}

.user-display {
    min-width: 200px;
    overflow-x: hidden;
    max-height: 300px;
    overflow-y: auto;
}

    .user-display .content-flex > * {
        align-self: center;
    }

::-webkit-scrollbar {
    width: 10px;
}

.dropdown-toggle::after {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: #ba4a00;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #dc7633;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

#movie-carousel-section {
    min-height: 500px;
    width: 100%;
}

#news-feeds {
    height: 40px;
    border-bottom: solid 3px #ba4a00;
}

    #news-feeds .rss-display a {
        color: burlywood;
        font-weight: bold;
    }

        #news-feeds .rss-display a:hover {
            text-decoration: underline;
        }

    #news-feeds .news-label {
        background: #ba4a00;
    }

#movies-slide .carousel-item {
    height: 500px;
}

    #movies-slide .carousel-item i {
        padding-left: 5px;
    }

    #movies-slide .carousel-item:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
    }

#new-releases-section .dark-overlay {
    background: rgba(0, 0, 0, 0.4);
    height: 80%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#new-releases-section a {
    text-decoration: none;
    color: #e2e0e0;
}

#new-releases-section .card img {
    height: 220px;
}

#trending-daily-section .dark-overlay {
    background: rgba(0, 0, 0, 0.4);
    height: 80%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

}


/*#trending-daily-section a {
    text-decoration: none !important;
    color: #e2e0e0;
}*/

#trending-daily-section .card img {
    height: 220px;
}

#dark-overlay-body {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1043;
    min-height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

#dark-overlay-body .dark-overlay-body-inner {
    padding-top: 50px;
}

#dark-overlay-body img {
    height: 220px;
}

#movie-details-modal .movie-trailer-wrapper {
    position: relative;
    padding: 25px 0 56.25% 0;
    height: 0px;
}

#movie-details-modal .movie-trailer-wrapper iframe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#show-movie-section ul > li{
    padding-bottom: 5px;
}
#show-movie-section .show-movie-inner {
    padding-top: 50px;
}

#page-title {
    border-bottom: solid 3px #ba4a00;
}

#data-display .data-display-inner {
    padding-top: 50px;
}

    #data-display .data-display-inner canvas {
        height: auto;
        width: 100%;
    }

.footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    left: 0;
    width: 100%;
    background: #f5f5f5;
    line-height: 60px;
}

#notifications-display .notifications-display-inner {
    padding-top: 50px;
}

.inner-spacer {
    padding-top: 50px;
}