﻿@model VidlyPrototype.ViewModels.DashboardDataViewModel
@{
    ViewBag.Title = "Rentals";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int nrCustCount, urUserCount = 0;
    int dateComparer = 5;

    nrCustCount = Model.Rentals.Any() ? Model.Rentals.Count() : 0;
    urUserCount = Model.UserRentals.Any() ? Model.UserRentals.Count() : 0;

   
}

<section id="rentals-view" class="mb-4">
    <div class="container rentals-view-inner inner-spacer mb-4">
        <div class="row">
            <div class="col">
                <div class="card" style="max-height:100%;overflow-y: scroll;">
                    <div class="card-body">
                            @*Accordion To Display Users*@
                            <h4 class="display-5 py-2 my-3 border-bottom">Users</h4>

                            @if (urUserCount > 0)
                            {
                                var username = "";
                                <div class="table-responsive-sm">
                                    <table class="table table-striped table-hover table-bordered" id="users-rentals">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Username</th>
                                                <th>Movie Name</th>
                                                <th>Date Rented</th>
                                                <th>Return Date[ERD]</th>
                                                <th title="Inform User of Movie Subscription Expiry Based on Return Date And Today">Inform of Expiry</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var rental in Model.UserRentals)
                                            {
                                                username = rental.Users.UserName.Substring(0, rental.Users.UserName.IndexOf(@"@"));
                                                <tr>
                                                    <td class="text-capitalize">@username</td>
                                                    <td class="text-capitalize">@rental.Movie.Name</td>
                                                    <td>@rental.DateRented.ToString("d MMM yyyy h:mmtt")</td>
                                                    @{
                                                        var dateReturned = rental.DateReturned.HasValue ? rental.DateReturned.Value.ToString("d MMM yyyy h:mmtt") : " - ";

                                                        var expiryCalculation = rental.DateReturned.HasValue ? rental.DateReturned.Value.Subtract(DateTime.Now).TotalDays : 0;

                                                        //expiryCalculation = int.Parse(expiryCalculation.ToString());
                                                        expiryCalculation = Convert.ToInt32(expiryCalculation);
                                                    }
                                                    <td>@dateReturned</td>
                                                    <td>
                                                        @if (expiryCalculation > dateComparer)
                                                        {
                                                            //display buttons
                                                            <a href="#" class="btn btn-outline-primary inform-rental" title="Send Notification To User That Rental Date is Almost Over" data-movie-id="@rental.Movie.Id" data-user-id="@rental.Users.Id">
                                                                <i class="fas fa-bullhorn"></i> Inform
                                                            </a>
                                                            @*<a href="#" class="btn btn-outline-primary inform-rental-custom" data-toggle="modal" data-target="#customMessageModal" title="Write Custom Message To Notify User That Rental Date is Almost Over" data-movie-id="@rental.Movie.Id" data-user-id="@rental.Users.Id">
                                                                <i class="far fa-comment"></i> Inform With Custom Message
                                                            </a>*@
                                                        }
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            }

                            <hr />
                            @*Accordion To Display Users*@
                            <h4 class="display-5 py-2 my-3 border-bottom">Customers</h4>

                            @if (urUserCount > 0)
                            {
                                <div class="table-responsive-sm">
                                    <table class="table table-striped table-hover table-bordered">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Username</th>
                                                <th>Movie Name</th>
                                                <th>Date Rented</th>
                                                <th>Return Date[ERD]</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var rental in Model.Rentals)
                                            {
                                            
                                                <tr>
                                                    <td class="text-capitalize">@rental.Customer.Name</td>
                                                    <td class="text-capitalize">@rental.Movie.Name</td>
                                                    <td>@rental.DateRented.ToString("d MMM yyyy h:mmtt")</td>
                                                    @{
                                                        var dateReturned = rental.DateReturned.HasValue ? rental.DateReturned.Value.ToString("d MMM yyyy h:mmtt") : " N/A ";

                                                        var expiryCalculation = rental.DateReturned.HasValue ? rental.DateReturned.Value.Subtract(DateTime.Now).TotalDays : 0;

                                                        //expiryCalculation = int.Parse(expiryCalculation.ToString());
                                                        expiryCalculation = Convert.ToInt32(expiryCalculation);
                                                    }
                                                    <td>@dateReturned</td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="customMessageModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button> 
            </div>
            <div class="modal-body">
                <p class="h6">
                    Please input your custom message
                </p>
                <form action="#">
                    <div class="form-group">
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                    <button class="btn btn-outline-primary" type="submit">
                        <i class="far fa-envelope-open"></i> Send
                    </button> 
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            $("#users-rentals .inform-rental").each(function (x, y) {
                var informer = $(this);

                var movieId = informer.attr('data-movie-id');
                var userId = informer.attr('data-user-id');

                $.ajax({
                    url: "/api/notifications/".concat(userId, "/", movieId),
                    method: "GET",
                    success: function (data) {
                        if (data != null) {
                            informer.addClass('disabled').html("<i class='fa fa-check'></i><i>Informed</i>");
                        }
                    },
                    error: function (x) {
                        console.log(x.status);
                    }
                });
                
            });
            
            $("#users-rentals").on('click', '.inform-rental', function (e) {
                e.preventDefault();
                var button = $(this);
                $.ajax({
                    url: "/api/notifications",
                    method: "POST",
                    data: { "userId": button.attr('data-user-id'), "movieId": button.attr('data-movie-id'), "message": null },
                    success: function (data) {
                        toastr.success("Notification Sent To User");
                        button.addClass('disabled').html("<i class='fa fa-check'></i><i>Informed</i>");
                    },
                    error: function (x) {
                        console.log(x.status);
                        toastr.error("Notification Not Sent To User");
                    }

                });
            });
            
        });
    </script>  
}