﻿@model VidlyPrototype.ViewModels.CustomerViewModel
@{
    var formTitle = Model.Customers.Id == 0 ? "Create Customer" : "Update Customer";
    ViewBag.Title = formTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="customer-form-section">
    <div class="customer-form-inner header-inner-spaced container">
        <div class="row">
            <div class="col-6 offset-3">
                <h3 class="display-4 border-bottom py-2 mb-4 text-center">@formTitle</h3>
                @using (Html.BeginForm("Save", "Customers"))
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.Customers.Name)
                        @Html.TextBoxFor(m => m.Customers.Name, new { @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Customers.Name, "", new { @class = "text-danger small" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Customers.DateOfBirth)
                        @Html.TextBoxFor(m => m.Customers.DateOfBirth, "{0:dd MMM yyyy}", new { @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Customers.DateOfBirth, "", new { @class = "text-danger small" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Customers.MembershipTypesId)
                        @Html.DropDownListFor(m => m.Customers.MembershipTypesId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Customers.MembershipTypesId, "", new { @class = "text-danger small" })
                    </div>
                    <div class="checkbox">
                        <label for="IsSubscribedToNewsletter">
                            @Html.CheckBoxFor(m => m.Customers.IsSubscribedToNewsletter) Subscribe To Newsletter?
                        </label>
                    </div>
                    @Html.HiddenFor(m => m.Customers.Id)
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary btn-block">Save</button>
                }

            </div>
        </div>
    </div>
</div>
