﻿@model IEnumerable<VidlyPrototype.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="customer-header-section">
    <div class="customer-header-inner header-inner-spaced container">
        <div class="row">
            <div class="col">
                <h3 class="display-4 border-bottom py-2 mb-3">Customers</h3>
                <a href="/Customers/Create" class="btn btn-primary py-2 m-3">
                    <i class="fas fa-user-plus"></i> Add Customer
                </a>
                @if (Model.Any())
                {
                    <div class="table-responsive">
                        <table class="table table-bordered" id="customers">
                            <thead class="thead-light">
                                <tr>
                                    <th>Name</th>
                                    <th>Membership Type</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @*@foreach (var customer in Model)
                                {
                                    <tr>
                                        <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, new { @class = "text-capitalize" })</td>
                                        <td>@customer.MembershipTypes.Name</td>
                                        <td>
                                            <button data-customer-id="@customer.Id" class="btn btn-outline-danger align-content-center js-delete" title="Delete Customer">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }*@

                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <p class="lead text-center">There are no customers at the moment</p>
                }

                
            </div>
        </div>
        
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc:""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a class='text-capitalize' href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "membershipTypes.name"
                    },
                    {
                        data: "id",
                        render: function(data){
                            return "<button class='btn btn-outline-danger js-delete' data-customer-id=" + data + " title='Delete Customer'><i class='fas fa-trash'></i></button>";
                        }
                    }
                    
                ]
            });

            $("#customers").on('click', ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                                
                            }
                        });
                    }
                });
              
            });
        });
    </script>
    
}

