﻿@using VidlyPrototype.Models
@model LoginViewModel
@{
    ViewBag.Title = "Access Account";
}

<section id="login-form-section">
    <div class="dark-overlay-login">
        <div class="container login-form-section-inner">
            <div class="row">
                <div class="col-md-5 offset-md-4">
                    <div class="card card-form p-3">
                        <div class="card-body">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { }))
                            {
                                @Html.AntiForgeryToken()
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-2 display-4 text-center">Log In</legend>
                                    @Html.ValidationSummary(false, "", new { @class = "text-danger small" })
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-at"></i>
                                            </span>
                                        </div>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "someone@example.com" })
                                    </div>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                        </div>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })

                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input" })
                                            @Html.LabelFor(m => m.RememberMe, new { @class = "custom-control-label" })
                                        </div>
                                    </div>
                                    <button class="btn btn-outline-primary btn-block" type="submit">
                                        Log In
                                    </button>
                                </fieldset>
                            }
                            <div class="small">
                                Not A Member? @Html.ActionLink("Create Account", "Register", "Account", null, new { })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


